In [1]:
import pandas as pd
from sqlite3 import connect
from py_experimenter.experimenter import PyExperimenter

### Defining Experiments
For PyExperimenter, you'll mainly define your experiments in your experiment file. This is how the default file looks like:

In [2]:
"""[PY_EXPERIMENTER]
provider = sqlite
database = py_experimenter
table = example

keyfields = method:int, benchmark:int, seed:int
method = 1
benchmark = 0
seed = 2:6:2
kernel = linear, poly, rbf, sigmoid

resultfields = epoch:DECIMAL, train_loss:DECIMAL, train_acc:DECIMAL, val_loss:DECIMAL, val_acc:DECIMAL
resultfields.timestamps = false

[CUSTOM]
path = sample_data

[codecarbon]
offline_mode = False
measure_power_secs = 25
tracking_mode = process
log_level = error
save_to_file = True
output_dir = output/CodeCarbon"""

'[PY_EXPERIMENTER]\nprovider = sqlite\ndatabase = py_experimenter\ntable = example\n\nkeyfields = method:int, benchmark:int, seed:int\nmethod = 1\nbenchmark = 0\nseed = 2:6:2\nkernel = linear, poly, rbf, sigmoid\n\nresultfields = epoch:DECIMAL, train_loss:DECIMAL, train_acc:DECIMAL, val_loss:DECIMAL, val_acc:DECIMAL\nresultfields.timestamps = false\n\n[CUSTOM]\npath = sample_data\n\n[codecarbon]\noffline_mode = False\nmeasure_power_secs = 25\ntracking_mode = process\nlog_level = error\nsave_to_file = True\noutput_dir = output/CodeCarbon'

### Running Experiments
Once you defined your experiments in the file, you can simply run 'cli.py' and execute all your experiments at once. For more details, please check out the documentation of the PyExperimenter!

### Checking your Results
The interesting part, of course, is to look at your results. To do that, we need to start an instance of the PyExperimenter:

In [9]:
experimenter = PyExperimenter(experiment_configuration_file_path="configs/base.cfg", name='example')
experimenter.fill_table_from_config()
experimenter.get_table()

2023-12-18 16:09:25,403  | py-experimenter - INFO     | Initialized and connected to database
2023-12-18 16:09:25,405  | py-experimenter - INFO     | No rows to add. All the 3 experiments already exist.

,ID,method,benchmark,seed,creation_date,status,start_date,name,machine,epoch,train_loss,train_acc,val_loss,val_acc,end_date,error
0,1,1,0,2,2023-12-18 16:06:50,created,None,None,None,None,None,None,None,None,None,None
1,2,1,0,4,2023-12-18 16:06:50,created,None,None,None,None,None,None,None,None,None,None
2,3,1,0,6,2023-12-18 16:06:50,created,None,None,None,None,None,None,None,None,None,None

This shows what should have been run. No onto the results:

In [7]:
experimenter.get_logtable('train_scores')

DatabaseError: Execution failed on sql 'SELECT * FROM example__train_scores': no such table: example__train_scores

### Loading the Results
Our plotting scripts expect a pandas dataframe, but you can read that directly from SQL:

In [8]:
conn = connect("example.db")
df = pd.read_sql("SELECT * from train_scores", conn)
print(df.head())

DatabaseError: Execution failed on sql '* from train_scores': near "*": syntax error